.file-type {
	background: url("images/folder.png") 0 50% no-repeat;
	padding-left: 20px;
}

a.code {
	background-image: url("images/code.png");
}

a.doc {
	background-image: url("images/doc.png");
}

a.file {
	background-image: url("images/file.png");
}

a.image {
	background-image: url("images/image.png");
}

a.video {
	background-image: url("images/video.png");
}

ul.create-menu {
	float: right;
	margin: -1.6em 19px 0 0;
	list-style: none;
	position: relative;
}

ul.create-menu li {
	display: inline;
}

ul.create-menu li a {
	background: #81b934;
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	margin-left: 5px;
	text-indent: -9999px;
	height: 15px;
}

ul.create-menu li a:hover {
	background: #222;
}

ul.create-menu li a.new-directory {
	width: 83px;
	background-image: url(images/new-directory.png);
}

ul.create-menu li a.new-file {
	width: 51px;
	background-image: url(images/new-file.png);
}

ul.create-menu li a.upload-file {
	width: 67px;
	background-image: url(images/upload-file.png);
}